<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="ServiceMtk_p2_064.Matematika">
                <endpoint address="http://localhost:1907" binding="basicHttpBinding"
                    bindingConfiguration="" contract="ServiceMtk_p2_064.IMatematika" />
            </service>
        </services>
    </system.serviceModel>
</configuration>